<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>Forms</title>
</head>
<body>
  <!-- <a href="/form-1">from 1</a><br>
  <a href="/form-2">from 2</a><br>
  <a href="/form-3">from 3</a><br>
  <a href="/form-4">from 4</a><br>
  <a href="/form-5">from 5</a><br> -->

  <div class="search-part">
    <form action="search-in-database" method="POST">
      <input type="search" class="search-on-user" placeholder="جستوجو در بین کاربران" name="userToSearch">
      <!-- <p>برای سرچ اینتر را فشار دهید</p> -->
    </form>
  </div>
  <hr>
</body>
</html>