<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/checkbox.css">
  <title>Fomr 4 1</title>
</head>
<body>
  <form action="/check-form-4" method="POST">
    <h3>اطلاعات آزمون</h3>

    <p>در چه آزمون هایی شرکت کردید؟</p>

    <label class="container">ماک
      <input type="checkbox" checked="checked" name="mak">
      <span class="checkmark"></span>
    </label><br>
    
    <label class="container">آیلتس جنرال
      <input type="checkbox" name="general">
      <span class="checkmark"></span>
    </label><br>
    
    <label class="container">آیلتس آکادامیک
      <input type="checkbox" name="academic">
      <span class="checkmark"></span>
    </label><br>
    
    <label class="container">تافل
      <input type="checkbox" name="tafel">
      <span class="checkmark"></span>
    </label><br>

    <label class="container">سایر
      <input type="checkbox" name="other">
      <span class="checkmark"></span>
    </label><br>

    <p></p>

    <p>تاریخ آزمون</p>
    <input type="text" placeholder="۹۹/۱۲/۳" class="" name="historyOfExam">
    <br>
    <p>lisitening</p>
    <input type="text" class="" name="lisiteningRank">
    <p>reading</p>
    <input type="text" class="" name="readingRank">
    <p>writing</p>
    <input type="text" class="" name="writingRank">
    <p>speaking</p>
    <input type="text" class="" name="speakingRank">
    <br>
    <p>بارگذاری تصاویر کارنامه</p>
    <input type="text" class="" name="UploadExamPic">
    <p><strong>نکته: تصاویر کارنامه نزد ما می ماند. :)</strong></p>

  </form>
</body>
</html>