<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/checkbox.css">
  <title>Fomr 4 1</title>
</head>
<body>
  <form action="/check-form-4" method="POST">
    <h3>اطلاعات آزمون</h3>

    <p>در چه آزمون هایی شرکت کردید؟</p>

    <p></p>
    <p>تاریخ آزمون</p>
    <input type="text" class="" name="historyOfExam">
    <p>تصویر برگه ثبت نام</p>
    <input type="" class="" name="examSignupPic">

  </form>
</body>
</html>