<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/readio.css">
  <title>Fomr 5</title>
</head>
<body>
  <form action="#" method="POST" class="form-three">
    <h2 class="form-title">تنظیمات اکانت</h2>
    <p>رمز عبور</p>
    <input type="text" placeholder="" class="" name="password">
    <p>تکرار رمز عبود</p>
    <input type="text" placeholder="" class="" name="confirmPassword">

    <hr>

    <p>کدام یک نام کاربری شما باشد؟</p>

    <label class="container">پست الکترونیک
      <input type="checkbox" checked="checked" name="emailIsUsername">
      <span class="checkmark"></span>
    </label>
    
    <label class="container">شماره موبایل
      <input type="checkbox" name="PhoneIsUsername">
      <span class="checkmark"></span>
    </label>
    
    <p>پروفایلتان خصوصی یا قابل دیدن باشد؟</p>

    <label class="container">خصوصی
      <input type="checkbox" name="private">
      <span class="checkmark"></span>
    </label>

    <label class="container">باز
      <input type="checkbox" checked="checked" name="public">
      <span class="checkmark"></span>
    </label>

    <button class="next" type="submit">بعدی</button>
  </form>
</body>
</html>