<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/readio.css">
  <title>Fomr 2</title>
</head>
<body>
  <form action="/check-from-2" method="POST" class="form-one">
    <h3 class="form-title">زبان را در چه سطحی مطالعه کردید؟</h3>
    <div style="display: flex;">
      <h4>به چه صورت زبان آموختید؟</h4>
      <label class="container">جنرال
        <input type="checkbox" checked="checked" name="general">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">آکادامیک
        <input type="checkbox" name="general">
        <span class="checkmark"></span>
      </label>
    </div><br><br>
    <div>
      <h4>مهارت صحبت کردن:</h4>
      <label class="container">ضعیف
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">متوسط
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">پیشرفته
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <hr>
    <div>
      <h4>مهارت خواندن:</h4>
      <label class="container">ضعیف
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">متوسط
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">پیشرفته
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <hr>
    <div>
      <h4>مهارت نوشتن:</h4>
      <label class="container">ضعیف
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">متوسط
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">پیشرفته
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <hr>
    <div>
      <h4>مهارت گوش دادن:</h4>
      <label class="container">ضعیف
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">متوسط
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">پیشرفته
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <hr>
    <div>
      <h4>مهارت کلمات:</h4>
      <label class="container">ضعیف
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">متوسط
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">پیشرفته
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <hr>
    <div>
      <h4>مهارت مکالمه:</h4>
      <label class="container">ضعیف
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">متوسط
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      
      <label class="container">پیشرفته
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
    <button class="next" type="submit">بعدی</button>
  </form>
</body>
</html>