<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../css/checkbox.css">
  <title>Fomr 1</title>
</head>
<body>
  <form action="/check-form-1" method="POST" class="form-one">
    <h3 class="form-title">مهارت های مورد نظر را انتخاب کنید:</h3>
    <label class="container">Speaking
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    
    <label class="container">Reading
      <input type="checkbox" name="reading">
      <span class="checkmark"></span>
    </label>
    
    <label class="container">Writing
      <input type="checkbox" name="writing">
      <span class="checkmark"></span>
    </label>
    
    <label class="container">Lisiting
      <input type="checkbox" name="lisiting">
      <span class="checkmark"></span>
    </label> 

    <label class="container">Vocab
      <input type="checkbox" name="vocab">
      <span class="checkmark"></span>
    </label> 

    <label class="container">Conversation
      <input type="checkbox" name="conversation">
      <span class="checkmark"></span>
    </label> 
    <button class="next" type="submit">بعدی</button>
  </form>
</body>
</html>